/* ---- GLOBAL ---- */

header {
  height: 100vh;
}
body {
  font-family: 'Cormorant Garamond', serif;
}

a {
  text-decoration: none;
  color: black;
}

h1, h3, h4 {
  text-transform: uppercase;
}

h3 {
  letter-spacing: .1em;
  font-weight: 700;
  font-size: 1.3em;
}

 h4 {
  font-weight: 700;
}

/* ---- NAVIGATION ---- */
.navBar {
  line-height: 2em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  position: fixed;
  z-index: 1000;
  min-width: 100%;
  height: 20vh;
  background: white;
  letter-spacing: 0.15em;
}

.nav-title {
  font-size: 2em;
  display: inline-block;
  margin: 1em 0;
}

.navFlex {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
  height: 20vh;
  align-items:center;
  justify-content:space-between;
  display: flex;
}

.navFlex ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
}

.navFlex ul a, .social-links a{
  color: rgba(0,0,0,0.6);
  transition: all 0.5s ease;
}

.navFlex ul a:hover, .social-links a:hover, .translation a:hover,
.navFlex ul a.active {
  color: #000;
}

nav li {
  display: inline-block;
}

nav #menu-toggle {
  display: none;
}

nav .label-toggle {
  display: none;
}

nav .navFlex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* ---- INTRO ---- */
.intro {
  background: #eee;
  height: 95vh;
  border: 10px solid white;
  margin: 0 auto;
}

.introBox {
  margin: 0 auto;
  max-width: 960px;
  padding: 35vh 2%;
}

.introBox h1 {
  line-height: 2em;
  color: rgba(0, 0, 0,0.9);
}

.introBox p {
  max-width: 600px;
  font-size: 2em;
  line-height: 1.325em;
}

.translation {
  display: inline-block;
  background: white;
  position: absolute;
  right: 0;
  top: 52.5vh;
  margin: 0;
  padding: 20px;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .1em;
  transition: all 1s;
}

.translation:hover{
  background: #000;
  color: #FFF;
  transform: scale(1.05)
}


/* ---- WORK SECTION ---- */

.work-container {
  height: 100vh;
}

.projects {
  display: flex;
}

.work{
  flex: 1;
  padding: 0% 5%;
  height: 80vh;
}

.work-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.work:nth-child(odd) {
  /*background: #CDC3B0;*/
  background: #00889b;
}

.work:nth-child(even) {
  /*background: #AB9E85;*/
  background: #00798a;
}

.work-details h3 {
  color: #FFF;
  transition: all 1s;
}

.work-details h3:hover {
  padding-left: .25em;
}

.work-details .github {
  transition: all .5s;
}

.work-details .github:hover {
  color: rgba(0,0,0,0.6)
}

.work-details {
  line-height: 1.3;
  font-size: 1.1em;
  color: #FFF;
}

.work-details i {
  font-size: 2em;
}

.work-details  a {
  font-weight: 700;
  color: #FFF;
}

.work-details > * {
  padding: 1em 0;
}

.work-details .tags {
  font-style: italic;
}

.more-projects {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}

.more-projects a {
  /*border: 3px solid #CDC3B0;*/
  border: 3px solid #00798a;
  padding: 20px;
  display: block;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.15em;
  transition: all .3s;
}

.more-projects a:hover {
  background: #00798a;
  color: #FFF;
}

/* ---- EXPERIENCE ---- */

.experience-flex {
  display: flex;
}

.eduskills {
  flex: 2;
}

.education {
  background: #F6D8D0;
  flex:1;
}

.skills {
  background: #D3A69B;
  flex:1;
}

.experience {
  flex:1;
  background: #FFF1ED;
}

.exp {
  border: 10px solid #FFF;
  padding: 2.5em 2% 3.5em;
  font-size: 1.1em;
  line-height: 1.2;
  transition: border 1s;
}

.exp:hover {
  border: 10px solid rgba(0, 0, 0,0.1);
}

.exp ul > * {
  padding: 10px 0;
}

.experience-flex h3 {
  padding: 15px 0;
}

.experience-flex h5 {
  font-style: italic;
}

/* ---- CONTACT ---- */

.contact-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  position: relative;
}

.contact-container h2 {
  font-size: 4em;
}

.contact-container .email {
  font-size: 2em;
  font-weight: 500;
}

.contact-container .social-links a {
  font-size: 1.5em;
}

.horizontal-line {
  display: block;
  height: 1px;
  background: #313131;
  margin: 20px auto;
  width: 30px;
  opacity: .3;
}

.social-links {
  margin: 50px auto;
}

.social-links a:nth-child(1), .social-links a:nth-child(2) {
  padding-right: 10px;
}

/* ---- PROJECT ---- */

.project-header a {
  border: 2px solid rgba(0,0,0,0.6);
  font-family: oswald;
  font-size: 1.3em;
  padding: .5em;
  text-align: center;
  display: inline-block;
  margin: 1em 0 0 2.5em;
  position: absolute;
  color: rgba(0,0,0,0.6);
  transition: all 0.5s ease-out;
}

.project-header a:hover {
  color: #000;
  margin-left: 2.25em;
}


.project-header h1 {
  border-bottom: 5px solid #000;
  padding: 0px 0 1% 0;
  margin: 2.5em 0em 0 1em;
  display: inline-block;
  text-transform: uppercase;
  font-size: 3em;
  font-family: 'Oswald';
}

.project-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-body ul {
  margin: 4em 0 0 5em;
}

.project-list .tags {
  font-style: italic;
}

.project-list-item {
  padding: 1em 5% 1em 0;
  border-bottom: 1px solid #eee;
}

.project-list-item h3 a {
  color: #00798a;
  transition: all .5s;
}

.project-list-item h3 a:hover {
  padding-left: .25em;
}

.project-list-item p {
  font-size: 1.2em;
}

.project-list-item .github {
  font-size: 1.3em;
  display: inline-block;
  transition: all .5s;
  color: rgba(0,0,0,0.6);
}

.project-list-item .github:hover {
  color: #00798a;
} 

.project-list-item > * {
  padding: 1em 0;
}

/* ---- MEDIA QUERIES ---- */

@media (max-width: 768px) {
  .translation {
    top: 89vh;
  }
  .work-container {
    height: 100%;
  }
  .projects, .experience-flex {
    flex-direction: column;
  }

  .eduskills {
    flex: 2;
  }

  .exp {
    border: 10px solid rgba(0, 0, 0,0);
  }

  .exp:hover {
     border: 10px solid rgba(0, 0, 0,0.1);
  }

  .introBox {
    padding: 25vh 5%;
  }

  .introBox p {
    max-width: 400px;
    font-size: 1.75em;
  }

  .contact-container h2 {
  font-size: 3em;
  }

  .contact-container .email {
    font-size: 1.5em;
  }

  .contact-container .social-links a {
    font-size: 1.25em;
  }

  .navFlex ul {
    background-color: white;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all .5s ease;
    width: 100%;
    visibility: hidden;
    padding: 0;
  }

  .navFlex li {
    color: black;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }

  .nav-title {
    padding: 0 2%;
    margin: 1.75em 0;
  }

  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }

  .navFlex .label-toggle {
    background: linear-gradient(to bottom, black 0%, black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%, black 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 25px;
    margin-top: 3.5em;
    margin-right: 2%;
    width: 35px;
  }

  nav .navFlex {
    display: block;
    padding: 0 0%;
    height: 20vh;
  }

  .project-header h1 {
    margin-left: .5em;
    font-size: 2em;
  }

  .project-header a {
    border: 1px solid rgba(0,0,0,0.6);
    margin: .75em 0 0 1em;
    font-size: 1.1em;
  }

  .project-header a:hover {
    color: #000;
    margin-left: 0.75em;
  }

  .project-body ul {
    margin: 1em 0 0 2em;
    max-width: 90%;
  }
}

@media (max-width: 430px) {
  .introBox p {
    max-width: 400px;
    font-size: 1.5em;
  }
}

